*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
/* todo app container */
.container{
    width: 500px;
     min-height: 300px;
    background-color: beige;
    border: 3px solid;
    padding: 0  20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
/* todo app title */
h2{
    color: rgba(51,51,51);
    text-align: center;
  padding-top: 10px;
    font-size: 1.6rem;
}
#input{
    width:60%;
    height:40px;
    margin-top: 20px;
    padding:0 10px;
    border-radius: 8px;
    color:rgb(51,51,51);
}
/*  add button */
#btn{
    padding:10px 20px;
    margin:10px;
    background-color: green;
    color:white;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    transition: 0.2s;
}
/* hover effect on button */
#btn:hover{
    background-color: #006400;
    transform:translate(-1px);
}
/* list  items */
#list-Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
}
/* styling container */

    #list-Container li {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;    
    color: #333;
}
/* delete button */
#btn2 {
    padding: 10px 20px;
    margin: 20px 0 10px 0;
    background-color: #d9534f; 
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 100%; 
}
#btn2:hover {
    background-color: #c9302c;
    transform: translateY(-1px);
}